* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.hero {
  background-image: url("https://i.pinimg.com/originals/2a/06/c6/2a06c6e5926ea6a4cc7131e6a99f5deb.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.links a {
  font-size: 65px;
  font-style: italic;
  font-family: "Bebas Neue";
  color: black;
  text-decoration: none;
}
.links a:hover {
  animation: tiltBounce 0.2s ease;
  animation-fill-mode: forwards;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: calc(100% - 63%);
}
a {
  margin-bottom: 22px;
  padding-right: 15%;
}
.about {
  width: 100%;
  background-color: #000000;
  padding: 50px 0;
}
.main {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 95%;
  width: 1130px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main img {
  height: auto;
  width: 250px;
  border-radius: 8px;
}
.aboutTxt {
  width: 650px;
  padding-left: 60px;
}
.aboutTxt h1 {
  text-transform: capitalize;
  font-size: 70px;
  margin-bottom: 20px;
  color: #fff;
}
.aboutTxt span {
  color: red;
  font-style: italic;
}
.aboutTxt span.react {
  color: green;
}
.aboutTxt span.type {
  color: #3178c6;
}
.aboutTxt span.tail {
  color: rgb(56, 189, 248);
}
.about p a {
  padding: 0;
  font-size: 22px;
  text-decoration: none;
  transition: 0.9s ease;
  color: #fff;
}
.aboutTxt p {
  color: white;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 22px;
  margin-bottom: 15px;
  line-height: 30px;
}
.aboutTxt h2 {
  color: #fff;
  font-size: 35px;
  margin-bottom: 20px;
}
.projects {
  background-color: #5c5c5c;
  padding: 80px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects h2 {
  text-align: center;
  font-size: 52px;
  margin-bottom: 70px;
  margin-top: 20px;
}
.projects a {
  transition: 0.9s ease-out;
}
.project-list {
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects a {
  margin: 0 auto;
  color: black;
  padding: 0;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 40px;
}

.project-list img {
  width: 600px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  opacity: 0.8;
  transition: 0.9s;
  cursor: pointer;
  border-radius: 8px;
}
.projects p {
  font-style: italic;
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

h2 .last a {
  font-size: 52px;
}
footer {
  width: 100%;
  background: linear-gradient(to top, rgb(0, 0, 0), #3b3b3b);
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p {
 
  font-size: 45px;
  margin-bottom: 20px;
  color: #dfdcdc;
  font-weight: bold;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social i {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, rgb(72, 72, 73), rgb(243, 42, 15));
  border-radius: 50%;
  color: black;
  text-decoration: none;
  font-size: 25px;
}
.social a {
  margin: 0;
  padding: 0 10px;
  text-decoration: none;
}
.social a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
.about p a:hover {
  color: #ff0000;
  cursor: help;
}
.last a:hover {
  color: #ff0000;
  cursor: help;
}

.projects img:hover {
  opacity: 1;
}
@keyframes tiltBounce {
  0% {
    transform: scale(1) rotate(-7deg);
  }
  50% {
    transform: scale(1.5) rotate(-7deg);
  }
  100% {
    transform: scale(1.15) rotate(-7deg);
  }
}
@media  (max-width: 600px) {
  .links {
    top: 40%;
    left: calc(100% - 89%);
  }
  .links a {
    font-size: 40px;
  }
  .main img {
    position: relative;
    left: 25%;
    width: 45%;
  }
  .main {
    max-width: 100%;
    display: block;
  }
  .aboutTxt {
    padding: 10px;
    max-width: 100%;
  }
  .aboutTxt h1 {
    font-size: 40px;
  }
  .aboutTxt h2 span {
    color: red;
    font-size: 30px;
    font-style: italic;
  }
  .aboutTxt .react,
  .aboutTxt .type,
  .aboutTxt .tail {
    font-size: 20px;
  }
  .aboutTxt p {
    max-width: 100%;
    color: white;
    font-size: 20px;
    margin: 10px 10px;
  }
  .aboutTxt h2 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .aboutTxt span a{
    font-size: 20px;
  }
  .projects p {
    font-size: 18px;
  }
  .projects h2 {
    font-size: 40px;
  }
  .projects span a {
    font-size: 40px;
  }
  .project-list img {
    width: 100%;
    border-radius: 20px;
  }
  .project-list {
    padding: 0 10px;
  }
}
